<div class="container">
  <h5>{{error}}</h5>
  <form action="/upload" method="POST", enctype="multipart/form-data">
    <input type="file" class = "form-control-file"name="avatar">
    <input type="submit" value="Upload" class="btn btn-primary mt-2">
  </form>
</div>